html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer i:hover{
  cursor:pointer;
  color: #939fa8;
}
footer li a{
  text-decoration: none;
  color:#6C757D;
}
footer li a:hover,footer li a:visited{
  text-decoration: underline;
 
}